body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

#input{
  width: 75%;
  text-align: center;
  margin-left: 5rem;
  background: beige;
}

.btn:hover {
  color: #eee;
  text-decoration: none;
  padding: 5px 35px;
}

#loading {width: 100%;height: 100%;top: 0px;left: 0px;background: grey;
  opacity: 0.5;position: fixed;display: block; z-index: 99 }

#loading-image {position: absolute;top: 30%;left: 40%;z-index: 100} 